.add-button {
    background-color: rgb(96, 235, 131);
    border-style: none;

    padding: 12px;
    border-radius: 4px;

    box-shadow: 2px 0px 2px grey;
}

.add-button:hover {
    background-color: rgb(71, 170, 96);
}